@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700&display=swap');

*,
*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Mulish',sans-serif;
    background-color:#eee;
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100vh;
    overflow:hidden;
    margin:0;
}
.container{
    width:90vw;
    display:flex;

}
.panel{
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height:80vh;
    border-radius: 50px;
    color:#fff;
    cursor:pointer;
    flex:0.5;
    margin:10px;
    position:relative;
    transition: flex 0.7s ease-in;
}
.panel h3{
    font-size: 1.4rem;
    position: absolute;
    bottom:2rem;
    left:2rem;
    margin:0;
    opacity: 0;
}
.panel.active{
    flex:5;
}
.panel.active h3{
    opacity: 1;
    transition:opacity 0.3s ease-in 0.4s;
}
@media (max-width:480px){
    .container{
        width:100vw;
    }
    .panel:nth-of-type(4),
    .panel:nth-of-type(5){
        display:none;
    }
}